@charset "UTF-8";
/* estilos RESET Y  QUERIES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

ul, li {
  list-style: none;
  display: inline-block;
  /* padding: 15px 30px; */
}

a {
  color: #2e2eb8;
  text-decoration: underline;
}

/* 
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
@media screen and (max-width: 768px) {
  /* configuración pagina contacto */
  #form {
    width: 100%;
  }
  .form-contenido_relleno input, .form-contenido_relleno textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .form_redes {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .texto_seguinos {
    text-align: center;
    font-size: 5px;
  }
}
@media screen and (max-width: 576px) {
  /* pagina ingresar */
  #formulario__ingresar {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .formulario__ingresar-estudiante {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
  }
  .formulario__ingresar-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
  }
  /* pagina registrarse */
  .main__formulario-ingresa {
    display: flex;
    justify-content: center;
  }
  .btn-estudiante {
    flex-direction: column;
    margin-left: auto;
  }
  .btn-empresa {
    flex-direction: column;
    margin-right: auto;
  }
  #footer {
    flex-direction: column;
  }
  .formulario__texto-empresa, .formulario__texto-estudiante {
    font-size: 20px;
  }
  .formulario__ingresar-estudiante input {
    margin-left: 0px;
    height: 25px;
    border-radius: 7px;
  }
  .formulario__ingresar-empresa input {
    margin-left: 0px;
    height: 25px;
    border-radius: 7px;
  }
  .formulario__btn-empresayestudiante button {
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    margin: 5px 5px;
  }
  #form {
    flex-direction: column;
  }
  .form-contenido_relleno {
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
    font-size: 15px;
  }
  .form-contenido_relleno input {
    margin-left: 30px;
    height: 35px;
  }
  .form-contenido_relleno textarea {
    margin-left: 30px;
    height: 60px;
  }
  .form_redes {
    margin-top: 20px;
    align-items: center;
    width: 100%;
  }
  .texto_seguinos {
    font-size: 30px;
  }
}
/* estilos HTML */
/* ESTILOS NAVBAR / HEADER */
.navbar-nav {
  font-size: 25px;
  color: black;
  transition: 1s;
}

.navbar-nav :hover {
  transition: 1s;
  font-size: 30px;
  color: rgb(64, 169, 255);
}

.navbar-brand {
  transition: 1s;
  object-fit: cover;
}

.navbar-brand :hover {
  transition: 1s;
  transform: scale(1.2);
}

.carousel-item img {
  height: 100vh;
}

.container-fluid {
  background-color: white;
}

#body {
  max-width: 1920px;
  background-color: white;
}

#main {
  max-width: 100%;
  min-height: 100vh; /* aca se le pide que se ajuste al 100 porciento visible, para separar el main del footer */
  background-color: white;
}

/* ESTILOS FOOTER */
#footer {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.footer__redes {
  transition: 1s;
}

.footer__redes :hover {
  filter: drop-shadow(10px 10px 6px #8c1aff);
  transition: 1s;
}

.footer__redes_email, .footer__redes_instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

.footer__redes-gmail, .footer__redes-insta {
  font-size: 30px;
  align-content: center;
  margin-top: 10px;
}

.footer__redes_email p {
  margin: 10px;
  padding-top: 10px;
}

.footer__redes_instagram p {
  margin: 10px;
  padding-top: 10px;
}

/* PAGE INGRESAR */
.main__textobienvenida {
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: bold;
  align-content: space-evenly;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  transition: 2s;
  color: black;
}

.main__textobienvenida:hover {
  transition: 2s;
  font-size: 80px;
  font-weight: bold;
  color: #0033cc;
}

#formulario__ingresar {
  display: flex;
  width: 80%;
  height: 80vh;
  margin: auto;
  background-color: #ffffff;
  border: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#formulario__ingresar label {
  font-size: 25px;
}
#formulario__ingresar input {
  margin-left: 90px;
  height: 45px;
  border-radius: 7px;
}
#formulario__ingresar h1 {
  text-align: center;
  font-weight: bold;
}

.formulario__ingresar-empresa, .formulario__ingresar-estudiante {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
}

.formulario__btn-estudiante, .formulario__btn-empresa {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  right: 20px;
  bottom: 20px;
}

.formulario__ingresar-empresa {
  background-color: hsl(206, 81%, 61%);
  transition: background-color 0.5s;
}

.formulario__ingresar-empresa:hover {
  background-color: hsl(206, 35%, 52%);
}

.formulario__ingresar-estudiante {
  background-color: rgb(241, 241, 192);
  transition: background-color 0.5s;
}

.formulario__ingresar-estudiante:hover {
  background-color: rgb(189, 189, 143);
}

/* PAGE REGISTRARSE */
/* ESTILO PARA PAGE REGISTRARSE */
#main__formulario-ingresar {
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 50%;
  background-color: rgb(227, 227, 175);
  border: none;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
}
#main__formulario-ingresar h1 {
  font-size: 60px;
  letter-spacing: 5px;
  transition: 2s;
  font-weight: bold;
}
#main__formulario-ingresar .formulario__texto :hover {
  font-size: 80px;
  transition: 2s;
}
#main__formulario-ingresar .formulario__btn-empresayestudiante {
  display: flex;
  flex-direction: row;
}
#main__formulario-ingresar .formulario__btn-empresayestudiante button {
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  margin: 40px 80px;
}
#main__formulario-ingresar .btn-estudiante button {
  color: #FFFFFF;
  background-color: rgba(0, 116, 232, 0.9529411765);
}
#main__formulario-ingresar .btn-estudiante button:hover {
  background-color: #FFFFFF;
  color: rgba(0, 116, 232, 0.9529411765);
  transition: 1s;
  font-size: 20px;
  font-weight: bold;
}
#main__formulario-ingresar .btn-empresa button {
  color: #FFFFFF;
  background-color: rgba(76, 141, 103, 0.9529411765);
}
#main__formulario-ingresar .btn-empresa button:hover {
  background-color: #FFFFFF;
  color: rgba(76, 141, 103, 0.9529411765);
  transition: 1s;
  font-size: 20px;
  font-weight: bold;
}

.main_imagenes-registrarse {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap;
  width: 80%;
  height: 90%;
  background-color: rgb(165, 165, 108);
  border-radius: 30px;
}
.main_imagenes-registrarse .primero {
  width: 350px;
  height: 250px;
  background-color: rgb(165, 165, 108);
  justify-content: center;
}
.main_imagenes-registrarse .primero img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main_imagenes-registrarse .primero h2 {
  font-weight: bold;
  text-align: center;
}
.main_imagenes-registrarse .primero i {
  font-size: 18px;
}

/* PAGE NOSOTROS */
/* ESTILO PAGE NOSOTROS */
.main__nosotros-titulo, .main__nosotros-imagen, .main__nosotros-texto {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(204, 236, 250);
  border: none;
  border-radius: 20px;
}

.main__nosotros-titulo {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 20px 1px 20px 1px;
}

.main__nosotros-texto {
  font-size: 25px;
  padding: 10px 10px 10px 10px;
}

/* PAGE CONTACTO */
/* ESTILO PARA PAGE CONTACTO */
/* FORMULARIO CONTACTO */
#form {
  display: flex;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#form a {
  color: aquamarine;
}
#form label {
  font-size: 25px;
}

#form {
  background-color: rgb(92, 169, 156);
}

#form:hover {
  background-color: rgb(41, 125, 111);
  transition: background-color 0.5s;
}

/*ESTILOS DE RELLENO/CONTENIDO = INPUTS Y LABELS DEL FORM*/
.form_contenido {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.form_contenido .form-contenido_relleno {
  height: 100%;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  font-size: 18px;
}
.form_contenido .form-contenido_relleno input {
  margin-left: 50px;
  height: 55px;
  border-radius: 10px;
}
.form_contenido .form-contenido_relleno textarea {
  resize: none;
  height: 100px;
  margin-left: 60px;
  border-radius: 10px;
}

/*FORM CONTENIDO BTN ENVIAR*/
.form-contenido_btnEnv {
  width: 80px;
  height: 45px;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/*ESTILOS DE RELLENO DE ÍCONOS*/
.form_redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 30px;
  font-size: 35px;
}
.form_redes .texto_seguinos {
  font-size: 35px;
}
.form_redes .seccion_iconos {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.form_redes .seccion_redes_mail {
  padding: 20px;
  font-size: 40px;
  transition: 2s;
}
.form_redes .seccion_redes_instagram {
  padding: 20px;
  font-size: 40px;
  transition: 2s;
}
.form_redes .seccion_redes_whatsapp {
  padding: 20px;
  font-size: 40px;
  transition: 2s;
}

.seccion_redes_mail:hover {
  font-size: 50px;
  transition: 2s;
}

.seccion_redes_instagram:hover {
  font-size: 50px;
  transition: 2s;
}

.seccion_redes_whatsapp:hover {
  font-size: 50px;
  transition: 2s;
}

.texto_seguinos {
  font-size: 30px;
}

.texto_seguinos:hover {
  transition: 2s;
  font-size: 40px;
  font-weight: bold;
}

/* PAGE INICIO */
.carousel-inner {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
