
/* estilos RESET Y  QUERIES */
@import "formatos/reset";
@import "formatos/breakpoints";
/* estilos HTML */
@import "formatos/header";
@import "formatos/body-main";
@import "formatos/footer";

/* PAGE INGRESAR */
@import "ingresar/page-ingresar";

/* PAGE REGISTRARSE */
@import "registrarse/page-registrarse";

/* PAGE NOSOTROS */
@import "nosotros/page-nosotros";

/* PAGE CONTACTO */
@import "contacto/page-contacto";


$borde-externo:border-radius 20px;
$borde-interno:border-radius 10px;
$borde-botones:border-radius 7px;
















