.main__textobienvenida{
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    align-content:  space-evenly;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    transition: 2s;
    color: black;
}
.main__textobienvenida:hover{
    transition: 2s;
    font-size: 80px;
    font-weight: bold;
    color: #0033cc;
}
#formulario__ingresar{
    display: flex;
    width: 80%;
    height: 80vh;
    margin: auto;
    background-color: #ffffff;
    border: none;
    align-content:  center;
    justify-content: center;
    align-items: center;
    gap: 70px;
    label{
        font-size: 25px; 
    }
    input{
        margin-left: 90px;
        height: 45px;
        border-radius: 7px;
    }
    h1{
        text-align: center;
        font-weight: bold;
    }
}
.formulario__ingresar-empresa , .formulario__ingresar-estudiante{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    padding: 20px;
    border-radius: $borde-interno;
    justify-content: space-between;
}
.formulario__btn-estudiante , .formulario__btn-empresa  {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    right: 20px;
    bottom: 20px;
}
.formulario__ingresar-empresa {
    background-color: hsl(206, 81%, 61%);
    transition: background-color 0.5s;
}

.formulario__ingresar-empresa:hover {
    background-color: hsl(206, 35%, 52%);
}

.formulario__ingresar-estudiante {
    background-color: rgb(241, 241, 192);
    transition: background-color 0.5s;
}

.formulario__ingresar-estudiante:hover {
    background-color: rgb(189, 189, 143);
}
