/* ESTILO PARA PAGE REGISTRARSE */
#main__formulario-ingresar{
    flex-direction: column;
    display: flex;
    width: 80%;
    height: 50%;
    background-color: rgb(227, 227, 175);
    border: none;
    border-radius: $borde-externo;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;

    h1{
        font-size: 60px;
        letter-spacing: 5px;
        transition: 2s;
        font-weight: bold;
    }
    .formulario__texto :hover{
        font-size: 80px;
        transition: 2s;
    }
    .formulario__btn-empresayestudiante{
        display: flex;
        flex-direction: row;
    }
    .formulario__btn-empresayestudiante button {
        font-size: 20px;
        padding: 15px 30px;
        border: none;
        border-radius: $borde-botones;
        margin: 40px 80px;
    }
    .btn-estudiante button {
        color: #FFFFFF;
        background-color: #0074e8f3
    }
    .btn-estudiante button:hover{
        background-color: #FFFFFF;
        color: #0074e8f3;
        transition: 1s;
        font-size: 20px;
        font-weight: bold
    }
    .btn-empresa button {
        color: #FFFFFF;
        background-color: #4c8d67f3
    }
    .btn-empresa button:hover{
        background-color:#FFFFFF ;
        color:#4c8d67f3 ;
        transition: 1s;
        font-size: 20px;
        font-weight: bold
    }
}

.main_imagenes-registrarse{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto; 
    padding: 15px;
    flex-wrap: wrap;
    width: 80%;
    height: 90%;
    background-color: rgb(165, 165, 108);
    border-radius: $borde-externo;
    .primero{
        width: 350px;
        height: 250px;
        background-color:  rgb(165, 165, 108);
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
            border-radius: $borde-interno;
        }
        h2{
            font-weight: bold;
            text-align: center;
        }
        i{
            font-size: 18px;
        }
    }
}


