/* ESTILOS FOOTER */
#footer{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.footer__redes{
    transition: 1s;
}
.footer__redes :hover{
    filter: drop-shadow(10px 10px 6px #8c1aff);
    transition: 1s;
}
.footer__redes_email , .footer__redes_instagram{
    display: flex;
    align-items: center;
    justify-content: center;    
    justify-content: center;
}
.footer__redes-gmail , .footer__redes-insta {
    font-size: 30px;
    align-content:  center;
    margin-top: 10px;
}
.footer__redes_email p{
    margin: 10px;
    padding-top: 10px;
}
.footer__redes_instagram p{
    margin: 10px;
    padding-top: 10px;
}