/* ESTILOS NAVBAR / HEADER */

.navbar-nav {
    font-size: 25px;
    color: black;
    transition: 1s;
}
.navbar-nav :hover {
    transition: 1s;
    font-size: 30px;
    color: rgb(64, 169, 255);
}
.navbar-brand{
    transition: 1s;
    object-fit: cover;
}
.navbar-brand :hover{
    transition: 1s;
    transform:scale(1.2) ;
}
.carousel-item img{
    height: 100vh;
}
.container-fluid{
    background-color: white;
}